/* sassgrid 0.0.1 (c)Rocco Janse */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-break: hyphenate;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  font-size: 14px;
  font-size: 1.4rem;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
